<li>
  <p><%= task.title %></p>
  <%= form_for task do |form| %>
    <%= form.check_box :completed, class: "completed_checkbox" %>
  <% end %>
  <p><%= link_to "Delete", id: "delete"  %> 
  <p>&ndash;<%= task.body %></p>
</li>
