<h1>My tasks</h1>
<%= form_for @task do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%=form.label :body %>
  <%=form.text_field :body %>

  <%= form.submit "Create task" %>
<% end %>

<ul>
  <%= render @tasks %>
</ul>
